* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background: linear-gradient(140deg, #0a0a0a, #101010, #0c0c0c);
    color: #e5e5e5;
    padding: 20px;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    position: sticky;
    top: 0;
    background: rgba(0,0,0,0.4);
    backdrop-filter: blur(8px);
    z-index: 10;
}

.logo {
    font-size: 28px;
    font-weight: 800;
    letter-spacing: 1px;
}

nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #e5e5e5;
    font-weight: 300;
    transition: 0.3s;
}

nav a:hover {
    color: #00C4FF;
}

/* HERO */
.hero {
    text-align: center;
    margin-top: 40px;
    animation: fadeIn 1s ease;
}

.foto {
    width: 160px;
    height: 160px;
    border-radius: 100%;
    object-fit: cover;
    margin-bottom: 20px;
    box-shadow: 0 10px 35px rgba(0, 255, 255, 0.2);
    border: 2px solid rgba(255, 255, 255, 0.08);
}

.titulo {
    font-size: 34px;
    font-weight: 700;
}

.titulo span {
    color: #00C4FF;
}

.subtitulo {
    margin-top: 10px;
    color: #b3b3b3;
}

/* TARJETAS */
.card {
    background: rgba(255, 255, 255, 0.03);
    padding: 30px;
    border-radius: 14px;
    margin-top: 60px;
    box-shadow: 
        0 0 60px rgba(0, 0, 0, 0.45),
        inset 0 0 30px rgba(255, 255, 255, 0.02);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.05);
}

/* PROYECTOS */
.proyectos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 25px;
    margin-top: 25px;
}

.proyecto {
    background: rgba(255, 255, 255, 0.04);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 25px rgba(0, 255, 255, 0.12);
    transition: 0.3s;
    color: white;
    text-decoration: none;
}

.proyecto:hover {
    transform: translateY(-7px);
    box-shadow: 0 0 40px rgba(0, 255, 255, 0.25);
}

/* CONTACTO */
.links {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.links a {
    text-decoration: none;
    color: #e5e5e5;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: 0.3s;
}

.links a:hover {
    color: #00C4FF;
}

/* ANIMACIONES */
.fade-in {
    animation: fadeIn 1.1s ease-in-out;
}

.fade-in-delayed {
    animation: fadeIn 1.4s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(25px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* RESPONSIVE */
@media (max-width: 600px) {
    nav {
        display: none;
    }

    .logo {
        margin: auto;
    }

    body {
        padding: 10px;
    }
}
